.industryBanner {
    height: 800px !important;
}

@media (max-width: 992px) {
    .industryBanner {
        height: 600px !important;
    }
}

@media (max-width: 768px) {
    .industryBanner {
        height: 400px !important;
    }
}
@media (max-width: 576px) {
    .industryBanner {
        height: 300px !important;
    }
}
