
.aboutheadings{
    max-width: 1000px;
}
.aboutbannerBtn{
    padding: 3.5rem 0 4rem 0;
}
.borderMargin{
    margin: 2rem 0 4rem 0;
}
/***************** motivation section styles *********************/

.soaringElements{
    height: 170px;
    margin-top: 1.5rem;
    border: 1px solid var(--accentRed); 
    color: var(--primaryBeige);
    padding: 7px;
}
.soaringElements:hover{
    border-color: var(--accentLime);
    transition: ease-in-out all .3s;
    background-color: var(--primaryBeige); 
    color: var(--primaryPurple);
}

.soaringElements h4{
    padding: 15px 1.5rem;
    font-size: 23.5px !important;
    line-height: 33px !important;
}
.h4text{
   font-size: 35px !important;
   font-weight: 600 !important;
}

.manageCircal {
  width: 60vw;
  height: 60vw;
  max-width: 520px;
  max-height: 520px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.economy{
    font-weight: 300 !important;
}

.ritrangle{
    width: 0px;
    height: 0px; 
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-bottom: 150px solid var(--accentLime); 
    position: absolute;
    top: -60px;
    left: 13%;
    transform: rotate(-18deg);
}

.manageCircal >div{
    width: 400px;
}
.manageCircal >div h4{
    font-size: 34px !important;
    font-weight: 500 !important;
    line-height: 50px !important;
}

.dolarcircal{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    right: 40%;
    top: -50px;
    /* transform: translateX(-50%); */
    z-index: 2; 
}
.circals{
    margin-top: 4rem;
}


/************* vuiltTeora section styles start *********/
.teora_p{
    padding: 0 3rem 0 0rem;
}
.imageWrapper{
    max-width: 260px;
}
.enhance{
    padding: 51px;
}
/************** vuiltTeora section styles end *********/

.teamDetails{
    text-align: center;
}
.teamDetails h3{
    font-size: 21px !important; 
    margin: 0px;
    font-weight: 500;
}
.teamDetails p{
    font-size: 16.5px !important;
    font-weight: 500;
  
}
.teamDetails span{
    font-size: 14px !important;
}
.awardHeading{ padding-bottom: 3rem;}

 .teams{
    padding: 15px;
 }

 /***************** MapOverlerly styles start **********************/


 .mapContent{
    max-width: 245px;
    position: absolute; 
 }
  .bubble {
    position: relative;
     padding: 16px 18px;
    border-radius: 30px; 
    font-size: 16px;
    line-height: 1.4;
    font-weight: 500;
    text-align: left; 
    height: 120px;
}
.bubble::after {
  content: "";
  position: absolute;
  bottom: -17px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 25px;
  background-color: inherit;
  border-bottom-left-radius: 50% 100%;
  border-bottom-right-radius: 50% 100%;
  clip-path: polygon(0 0, 100% 0, 50% 100%); 
}
.bubble p{
    font-size: 15px;
    font-weight: 500 !important;
    line-height: 21px !important;
    margin-bottom: 0px;
    text-align: center;
}
.mapContainer{
    background-image: url("/bgImage/aboutMap.png");
    width: 100%;
    height: 100%; 
    height: 670px;
    background-repeat: no-repeat;
    background-position: center center;
   
}

.bubble1{ top: 20px; left: 0;}
.bubble2{ top: 0px; left: 25%;}

.bubble3{ top: 30px; right: 30%;}

.bubble4{ top: 50px; right: 0;}

.bubble5{top: 180px; left: 12%;}

.bubble6{ top: 230px; left: 35%;}
.bubble7{top: 230px; right: 17%;}
 
.bubble8{ bottom: 10px; left: 18%;}

.bubble10{ bottom: 10px; right: 5%;}
 
.bubble9{ bottom: 40px; right: 33%;}

.imagewidths{
    width: 50%;
    display: flex;
    justify-content: center;
}
.imagewidths img{width: 130px;}
 .whyusBannerImage{width: 90%; height: 400px;}
 /***************** MapOverlerly styles end **********************/
 .team_container{overflow: hidden;}
 .borderMargin>div{width: 75%;}

  @media (max-width:768px){
    .borderMargin>div{width: 100%;}
    .enhance{padding: 20px;}
    .borderelements h6, .borderelements h5{font-size: 18px !important; line-height: 26px !important;}
    .borderelements img{width: 90px !important;}
    .bubble {padding: 10px 10px;  height: 110px; }
    .mapContainer{height: 870px;}
    .bubble p{ font-size: 14px !important; }
    .bubble1{ top: 5px; left: 1.5rem;}
    .bubble2{ top: -80px; right: 1.5rem !important; left: auto;}
    .bubble3{ top: 172px; left: 1.5rem;}
    .bubble4{ top: 88px; right: 1.5rem;}
    .bubble5{top: 341px; left: 1.5rem; }
    .bubble6{ top: 258px; right: 1.5rem; left: auto;}
    .bubble7{top: 423px; right: 1.5rem;  }
    .bubble8{ bottom: 112px; left: 1.5rem !important; }
    .bubble10{ bottom: -52px; left: 1.5rem;} 
    .bubble9{ bottom: 24px; right: 1.5rem;}
    .ritrangle{left: 21%;}
    .manageCircal >div h4{
        font-size: 28px !important; 
        line-height: 40px !important;
    }
    .manageCircal{
        width: 56vw;
        height: 56vw;
        padding: 40px;
    }
    .soaringElements h4{
        padding: 10px 1rem;
        font-size: 18px !important; 
        line-height: 25px !important;
    }
    .teora_p{ padding:0rem; margin-top: 1.5rem;} 
    .imageWrapper{display: flex; gap: 30px; max-width: 100%;}
     .whyusBannerImage{max-width: 400px; height: 380px !important;}
  }

 @media (max-width:576px){
    .economy{margin-top: 1rem;}
      .soaringElements h4{
        padding: 10px; 
         font-size: 17px !important; 
    }
    .manageCircal >div h4{
        font-size: 16px !important; 
        line-height:20px !important;
    }
    .dolarcircal{
        width: 120px;
        height: 120px;
        border-radius: 50%; 
        right: 0%;
        top: -55px;  
    }
    .h4text{font-size: 22px !important;}
    .manageCircal{  padding: 20px;}
    .imageWrapper{flex-wrap: wrap; justify-content: center; gap: 0px;}
 }
  
 @media (max-width:500px){
    .aboutheadings>div{
        padding: 0px !important;
    }
 }