.industries {
    width: 90%;
    margin: 0 auto;
}

.counterPadding {
    padding: 5rem 0;
}
.muteds {
    color: var(--accentBlue);
}

.cards {
    padding: 15px 20px;
    border-radius: 30px;
    border: 1px solid var(--primaryPurple);
    transition: ease-in-out all 0.4s;
}

.cards:hover {
    background-color: var(--primaryPurple);
    color: var(--primaryBeige);
}
.sticky_container {
    width: 100%;
    height: fit-content;
    scroll-behavior: smooth;
}
.sticky_section {
    border-radius: 70px 70px 0 0;
    height: auto;
    top: 10px;
    min-height: 100vh;
}

.smart {
    color: var(--mutedLavender);
}
.Safer {
    color: var(--accentBlue);
}
.production_info {
    color: var(--lavender);
    font-size: 24px;
    line-height: 35px !important;
}
.sustainably {
    color: var(--accentLime);
}
.left_arrow {
    width: 20%;
}
.right_slider {
    width: 80%;
}
.infoh1 h3 {
    line-height: 40px !important;
    font-weight: 600 !important;
}
.arrayBtn svg {
    font-size: 22px;
}

.handalPrev {
    position: absolute;
    left: -70px;
    top: 12px;
    cursor: pointer;
}
.handalNext {
    position: absolute;
    left: -45px;
    top: 12px;
    cursor: pointer;
}
.rowcontainer {
    z-index: 1;
}
.rowWhite {
    position: absolute;
    height: 43px;
    background-color: #fff;
    border-radius: 25px;
    top: 75px;
    right: 0;
    width: 80%;
    z-index: -1;
}

.slicky_container {
    transition: transform 0.5s ease;
}
.activeSlide {
    transition: transform 0.5s ease;
    transform: scale(1.2);
    z-index: 2;
    border: 10px solid #7f7591;
    border-radius: 50%;
}

.brochureImage {
    width: 100%;
    height: 380px !important;
}

@media (max-width: 768px) {
    .rowcontainer {
        flex-direction: column;
    }
    .left_arrow {
        width: 100%;
    }
    .right_slider {
        width: 100%;
        position: relative;
    }

    .sticky_section {
        border-radius: 0;
        height: auto;
        min-height: auto !important;
        position: static !important;
    }
    .cards {
        border-radius: 20px;
    }
    .brochureImage {
        height: 280px !important;
    }
}

@media (max-width: 500px) {
    .industries {
        width: 100%;
    }
    .brochureImage {
        height: 200px !important;
    }
}
