.bee-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas:
        "a a b c"
        "d e f f";
    gap: 20px;
    margin: 40px auto;
}

.card {
    border-radius: 18px;
    padding: 20px;
    font-size: 14px;
    line-height: 1.5;
}
.yellowcard {
    padding: 4rem 2rem 2rem 2rem;
    position: absolute;
    top: -130px;
    height: 340px;
}
.lastpurpalcard {
    padding: 2rem 2.5rem 2.5rem 2.5rem;
    position: absolute;
    bottom: -100px;
    height: 250px;
    width: 80%;
    right: 0;
}

/* Placement */
.a {
    grid-area: a;
}
.b {
    grid-area: b;
}
.c {
    grid-area: c;
}
.d {
    grid-area: d;
}
.e {
    grid-area: e;
}
.f {
    grid-area: f;
}

.card-outline {
    border: 3px solid var(--primaryPurple);
}

.card-dark {
    background: #2f1f4a;
    color: #fff;
}

.card-dark ul {
    padding-left: 18px;
}
/* Tablet / 992px */
@media (max-width: 992px) {
    .bee-grid {
        margin-top: 0px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "a a"
            "b c"
            "d e"
            "f f";
    }

    /* Prevent overlap issues on tablet */
    .yellowcard,
    .lastpurpalcard {
        position: static;
        height: auto;
        width: 100%;
        margin-top: 20px;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .bee-grid {
        grid-template-columns: 1fr;
        grid-template-areas:
            "a"
            "b"
            "c"
            "d"
            "e"
            "f";
    }
}
