
.gridContainer {
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(6, 100px);
  gap: 5px;
}

.featureBox1,
.featureBox2,
.featureBox3,
.featureBox4,
.featureBox5,
.featureBox6,
.featureBox7 {
  border: 1px solid black;
  border-radius: 20px;
  overflow: hidden;
}

.paddingCard {padding: 25px;}

.fontManage h5 {
  font-size: 18px !important;
  line-height: 25px !important;
}

.fontManage p {
  font-size: 15.5px !important;
}

.card_p {
  padding: 0 01.4rem;
}
.featureBox1 { grid-column: 1 / 10; grid-row: 1 / 5; line-height: 30px; }
.featureBox2 { grid-column: 1 / 10; grid-row: 5 / 7; line-height: 30px; }
.featureBox3 { grid-column: 10 / 20; grid-row: 1 / 4; background: #f7f3ec; line-height: 30px; }
.featureBox4 { grid-column: 10 / 19; grid-row: 4 / 5; background: #f7f3ec; color: #3a2856; padding: 20px 10px; }
.featureBox5 { grid-column: 10 / 19; grid-row: 5 / 7; line-height: 30px; }
.featureBox6 { grid-column: 20 / 30; grid-row: 1 / 4; line-height: 30px; }
.featureBox7 { grid-column: 19 / 31; grid-row: 4 / 7; line-height: 18px; }
.subox {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, 30px);
}

.subox p {
  font-size: 11px !important;
  font-weight: bold !important;
  margin: 0 !important;
  line-height: 12px !important;
  text-align: center;
  overflow: hidden;
}
.sub_1, .sub_2, .sub_3, .sub_4,
.sub_5, .sub_6, .sub_7,
.sub_8, .sub_9, .sub_10, .sub_11 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #3a2856;
}

.sub_1  { grid-column: 1 / 4; }
.sub_2  { grid-column: 4 / 6; border-left: 1px solid #3a2856; }
.sub_3  { grid-column: 6 / 8; border-left: 1px solid #3a2856; }
.sub_4  { grid-column: 8 / 11; border-left: 1px solid #3a2856; }

.sub_5  { grid-column: 1 / 5; grid-row: 2; }
.sub_6  { grid-column: 5 / 8; grid-row: 2; border-left: 1px solid #3a2856; }
.sub_7  { grid-column: 8 / 11; grid-row: 2; border-left: 1px solid #3a2856; }

.sub_8  { grid-column: 1 / 3; grid-row: 3; border-bottom: 1px solid #3a2856; }
.sub_9  { grid-column: 3 / 5; grid-row: 3; border-left: 1px solid #3a2856; border-bottom: 1px solid #3a2856; font-size: 9px; }
.sub_10 { grid-column: 5 / 7; grid-row: 3; border-left: 1px solid #3a2856; border-bottom: 1px solid #3a2856; }
.sub_11 { grid-column: 7 / 11; grid-row: 3; border-left: 1px solid #3a2856; border-bottom: 1px solid #3a2856; }

@media (max-width: 767px) {
  .gridContainer { grid-template-rows: repeat(1, 100px); }
  .featureBox1 { grid-column: 1 / 16; grid-row: 1 / 5; }
  .featureBox2 { grid-column: 16 / 31; grid-row: 1 / 5; }
  .featureBox3 { grid-column: 1 / 16; grid-row: 5 / 9; }
  .featureBox4 { grid-column: 16 / 31; grid-row: 5 / 9; }
  .featureBox5 { grid-column: 1 / 16; grid-row: 9 / 13; }
  .featureBox6 { grid-column: 16 / 31; grid-row: 9 / 13; }
  .featureBox7 { grid-column: 1 / 16; grid-row: 13 / 17; }
}

@media (max-width: 576px) {
   .gridContainer {display:block;}
   .gridContainer>div{margin-bottom: .8rem;}
  .gridContainer { grid-template-rows: repeat(35, 100px); }
  .featureBox1,
  .featureBox2,
  .featureBox3,
  .featureBox4,
  .featureBox5,
  .featureBox6,
  .featureBox7 {
    grid-column: 1 / 31;
  }

  .featureBox1 { grid-row: 1 / 5; }
  .featureBox2 { grid-row: 5 / 10; }
  .featureBox3 { grid-row: 10 / 15; }
  .featureBox4 { grid-row: 15 / 20; }
  .featureBox5 { grid-row: 20 / 25; }
  .featureBox6 { grid-row: 25 / 30; }
  .featureBox7 { grid-row: 30 / 35; }
}
