.contents {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}
.aboutbannerBtn {
    padding: 1.5rem 0;
}
.cardSwip {
    gap: 70px;
}
.cardSwip li {
    max-width: 200px;
    z-index: 10;
}
.title_swip {
    font-size: 19px !important;
    line-height: 25px !important ;
    text-align: center;
}
.rowstyle {
    position: absolute;
    width: 100%;
    height: 30px;
    top: 68px;
    z-index: 1;
    border-radius: 20px;
}
@media (max-width: 767px) {
    .aboutbannerBtn {
        padding: 0.5rem 0;
    }
    .cardSwip {
        gap: 30px !important;
    }
}
@media (max-width: 576px) {
    .cardSwip {
        gap: 0px !important;
    }
}
